body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/20828773342_c6f4a50a90_k2.webp");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.text-purple {
    color: #BC35AB
}

.pigeon-icon {
    background: url('../img/pigeon.png');
    height: 64px;
    width: 64px;
    display: block;
}

.add-pigeon-form__cislo-krouzku-input {
    max-width: 70%;
}

.add-pigeon-form__rocnik {
    width: 20%;
    max-width: 100px;
}

add-pigeon-form__legend {
    font-size: 1rem;
}
