{% extends "base.html" %}
{% set active_page = 'edit_pigeon' %}

{% block content %}
    <div class="container mt-5 bg-light p-5 border">
    {% if edit_pigeon_success %}
        <p class="text-success">Holub byl úspěšně uložen</p>
    {% endif %}
    {% if error %}
        <p class="text-danger">Chyba: {{ error }}</p>
    {% endif %}
        <h1>Upravit holuba</h1>
        <form class="mt-3" method="post">

            <p>Povinná pole jsou označena <span aria-label="required">*</span></p>

            <div class="add-pigeon-form__cislo-krouzku-full">
                <label class="fs-6" for="cislo_krouzku2">Číslo kroužku: *
                    <input class="add-pigeon-form__cislo-krouzku" type="text" name="cislo_krouzku" id="cislo_krouzku"  value="{{ data['cislo_krouzku'] }}/ {{ data['rocnik'] }}" disabled>
                </label>
                <p class="text-warning">Číslo kroužku nelze změnit</p>

            </div>

            <fieldset class="add-pigeon-form__pohlavi mt-2">
                <legend class="add-pigeon-form__legend fs-6">Pohlaví: * </legend>
                <label for="samec">
                    <input class="ms-2 form-check-input" type="radio" name="pohlavi"
                           value="1.0" required {% if data['pohlavi'] == "1.0" %}checked{% endif %}> samec
                </label>
                <label for="samice">
                    <input class="ms-2 form-check-input" type="radio" name="pohlavi"
                           value="0.1"{% if data['pohlavi'] == "0.1" %}checked{% endif %}> samice
                </label>
                <p class="text-warning">Pokud změníte pohlaví holuba, dojde k rozvázání případných vztahů s potomky</p>
            </fieldset>

            <label class="mt-2 d-flex flex-column fs-6" for="plemeno">Plemeno:
                <input type="text" name="plemeno" value="{{ data['plemeno'] }}">
            </label>

            <label class="d-flex flex-column fs-6" for="barva">Barva:
                <input type="text" name="barva" value="{{ data['barva'] }}">
            </label>

            <label class="d-flex flex-column fs-6" for="kresba">Kresba:
                <input type="text" name="kresba" value="{{ data['kresba'] }} ">
            </label>

            <section class="h3 mt-4">Rodiče</section>
            <label class="d-flex flex-column fs-6" for="matka">Číslo kroužku matky:
                <input type="text" name="matka" id="matka" pattern="[A-Z]+\d+\/\d{2}"
                       title="Zadejte číslo kroužku v žádaném formátu, například AB823/22"
                       value="{{ data['matka'] }}">
            </label>
            <label class="d-flex flex-column fs-6" for="otec">Číslo kroužku otce:
                <input type="text" name="otec" id="otec" pattern="[A-Z]+\d+\/\d{2}"
                       title="Zadejte číslo kroužku v žádaném formátu, například AB823/22"
                       value="{{ data['otec'] }}">
            </label>


            <section class="h3 mt-4">Chovatel</section>
            <label class="d-flex flex-column fs-6" for="chovatel">Jméno a příjmení:
                <input type="text" name="chovatel" value="{{ data['chovatel'] }}">
            </label>

            <label class="d-flex flex-column fs-6" for="bydliste">Bydliště:
                <input type="text" name="bydliste" value="{{ data['bydliste'] }}">
            </label>

            <section class="h3 mt-4">Vlastnosti</section>
            <label class="d-flex flex-column fs-6" for="exterierove_vady">Exteriérové vady:
                <textarea name="exterierove_vady">{{ data['exterierove_vady'] }}</textarea>
            </label>

            <label class="d-flex flex-column fs-6" for="exterierove_prednosti">Exteriérové přednosti:
                <textarea name="exterierove_prednosti">{{ data['exterierove_prednosti'] }}</textarea>
            </label>

            <label class="d-flex flex-column fs-6" for="cil_slechteni">Cíl šlechtění:
                <textarea name="cil_slechteni">{{ data['cil_slechteni'] }}</textarea>
            </label>

            <label class="d-flex flex-column fs-6" for="povahove_vlastnosti">Povahové vlastnosti:
                <textarea name="povahove_vlastnosti">{{ data['povahove_vlastnosti'] }}</textarea>
            </label>

            <label class="d-flex flex-column fs-6" for="poznamky">Poznámky:
                <textarea name="poznamky">{{ data['poznamky'] }}</textarea>
            </label>


            <input class="btn btn-primary mt-4 fs-6 " type="submit" value="Potvrdit">
            <a href="{{ url_for('pigeon_app.pigeon_detail', pigeonID=data['id']) }}">
                <button class="btn btn-secondary mt-4 fs-6" type="button">Zpět</button>
            </a>
        </form>

    </div>
{% endblock %}