{% extends "base.html" %}
{% set active_page = 'pigeon_detail' %}

{% block content %}
    <div class="container mt-5 bg-light p-5 border">
        <h1>Detail holuba {{ data["cislo_krouzku"] }}/{{ data["rocnik"] }}</h1>

        {% for i in data.keys() %}
            <p>{{ i }}: {{ data[i] }}</p>
        {% endfor %}
        <a href="{{ url_for('pigeon_app.pigeon_pedigree_download') }}">
            <button class="btn btn-primary">Generovat rodokmen</button>
        </a>
        <a href="{{ url_for('pigeon_app.pigeon_pedigree', pigeonID=data['id']) }}">
            <button class="btn btn-primary">Vizualizovat rodokmen</button>
        </a>
        <a href="{{ url_for('pigeon_app.edit_pigeon', pigeonID=data['id']) }}">
            <button class="btn btn-primary">Upravit holuba</button>
        </a>
        <a href="{{ url_for('pigeon_app.delete_pigeon', pigeonID=data['id']) }}">
            <button class="btn btn-danger">Odstranit holuba</button>
        </a>
    </div>
{% endblock %}