{% extends "base.html" %}
{% set active_page = 'pigeon_detail' %}

{% block content %}
    <section class="container mt-5 bg-light p-5 border">
        <h1>Detail holuba {{ data["cislo_krouzku"] }}/{{ data["rocnik"] }}</h1>

        <div class="mt-3">
            <p class="pigeon-detail__pigeon-property">Pohlaví: <strong>{{ data.get("pohlavi", "") }}</strong></p>
            <p class="pigeon-detail__pigeon-property">Plemeno: {{ data.get("plemeno", "") }}</p>
            <p class="pigeon-detail__pigeon-property">Barva: {{ data.get("barva", "") }}</p>
            <p class="pigeon-detail__pigeon-property">Kresba: {{ data.get("kresba", "") }}</p>
            <hr>

            <h3 class="mt-3">Rodiče</h3>
            <p class="pigeon-detail__pigeon-property">Matka:
                {% if data.get("matka", "") %}
                    <a href="{{ url_for('pigeon_app.pigeon_detail', pigeonID=data.get('matka_id', '')) }}">
                        {{ data.get("matka", "") }}
                    </a>
                {% endif %}
            </p>
            <p class="pigeon-detail__pigeon-property">Otec:
                {% if data.get("otec", "") %}
                    <a href="{{ url_for('pigeon_app.pigeon_detail', pigeonID=data.get('otec_id', '')) }}">
                        {{ data.get("otec", "") }}
                    </a>
                {% endif %}
            </p>
            <hr>

            <h3 class="mt-3">Chovatel</h3>
            <p class="pigeon-detail__pigeon-property">Jméno: {{ data.get("chovatel", "") }}</p>
            <p class="pigeon-detail__pigeon-property">Bydliště: {{ data.get("bydliste", "") }}</p>
            <hr>

            <p class="mt-3 pigeon-detail__pigeon-property">
                Inbreeding: <span class="{% if data.get("inbreeding", 0) > 10 %}text-danger{%  elif data.get("inbreeding", 0) > 5 %}text-warning{% endif %}">
                    {{ data.get("inbreeding", "") }}%
                </span>
            </p>
            <hr>

            <h3>Vlastnosti</h3>
             <p class="pigeon-detail__pigeon-property mb-2">Exteriérové vady: </p><p class="mb-4">{{ data.get("exterierove_vady", "") }}</p>
             <p class="pigeon-detail__pigeon-property mb-2">Exteriérové přednosti: </p><p class="mb-4">{{ data.get("exterierove_prednosti", "") }}</p>
            <p class="pigeon-detail__pigeon-property mb-2">Cíl šlechtění: </p><p class="mb-4">{{ data.get("cil_slechteni", "") }}</p>
             <p class="pigeon-detail__pigeon-property mb-2">Povahové vlastnosti: </p><p class="mb-4">{{ data.get("povahove_vlastnosti", "") }}</p>
            <hr>
            <p class="pigeon-detail__pigeon-property">Poznámky: <br> {{ data.get("poznamky", "") }}</p>
        </div>

        <hr>
        <div class="d-flex flex-md-row flex-wrap">
            <a href="{{ url_for('pigeon_app.pigeon_pedigree_download', pigeonID=data['id']) }}" target="_blank">
                <button class="btn btn-primary m-2">Generovat rodokmen</button>
            </a>
            <a href="{{ url_for('pigeon_app.pigeon_visualise_pedigree', pigeonID=data['id']) }}" target="_blank">
                <button class="btn btn-primary m-2">Vizualizovat rodokmen</button>
            </a>
            <a href="{{ url_for('pigeon_app.edit_pigeon', pigeonID=data['id']) }}">
                <button class="btn btn-secondary m-2">Upravit holuba</button>
            </a>
            <a href="{{ url_for('pigeon_app.delete_pigeon', pigeonID=data['id']) }}">
                <button class="btn btn-danger m-2">Odstranit holuba</button>
            </a>
        </div>
    </section>
{% endblock %}